In [1]:
# Debt Calculator Check

In [2]:
import os
import csv

import pandas as pd 
import numpy as np 
import datetime as dt 

import matplotlib.pyplot as plt

In [3]:
import debtToGDP as dtg
debtion = dtg.DEBT(dtg.measurements)

In [4]:
debtion.total_household_nonprofit_debt()

,ASHMA,ASMRMA,MVLOAS,SLOAS,REVOLSL,debt_sum
DATE,,,,,,
1960-01-01,132580.0,19199.0,16910.00,0.00,0.00,168689.00
1960-04-01,135366.0,19702.0,17847.00,0.00,0.00,172915.00
1960-07-01,138582.0,20293.0,18173.00,0.00,0.00,177048.00
1960-10-01,141378.0,20786.0,18083.00,0.00,0.00,180247.00
1961-01-01,143645.0,21424.0,17516.00,0.00,0.00,182585.00
...,...,...,...,...,...,...
2020-10-01,11652712.0,1754956.0,1224446.74,1702599.57,977822.32,17312536.63
2021-01-01,11783978.0,1784557.0,1240753.93,1728113.34,963269.55,17500671.82
2021-04-01,12022165.0,1810298.0,1275241.27,1730258.67,965332.85,17803295.79
2021-07-01,12271340.0,1837987.0,1300414.38,1750707.56,997972.15,18158421.09
2021-10-01,12531780.0,1881960.0,1314595.56,1747261.68,1017879.05,18493476.29

In [5]:
debtion.total_us_debt()

                 ASTLL      ASTDSL  Total_Debt
DATE
1960-01-01    349880.0    413378.0    763258.0
1960-04-01    360974.0    415230.0    776204.0
1960-07-01    366810.0    420184.0    786994.0
1960-10-01    376713.0    426176.0    802889.0
1961-01-01    376828.0    426841.0    803669.0
...                ...         ...         ...
2020-10-01  29921572.0  53108991.0  83030563.0
2021-01-01  30317768.0  53804076.0  84121844.0
2021-04-01  30756356.0  54574168.0  85330524.0
2021-07-01  31414420.0  54912165.0  86326585.0
2021-10-01  32120663.0  56187773.0  88308436.0

[248 rows x 3 columns]

In [6]:
debtion.total_gov_debt().info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 248 entries, 1960-01-01 to 2021-10-01
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   FGDSLAQ027S  248 non-null    float64
 1   SLGSDODNS    248 non-null    float64
 2   debt_sum     248 non-null    float64
dtypes: float64(3)
memory usage: 7.8 KB

In [7]:
debtion.usDebt_to_gdp()

                 ASTLL      ASTDSL         GDP  Total_Debt  Debtas%GDP
DATE
1960-01-01    349880.0    413378.0    542648.0    763258.0    1.406543
1960-04-01    360974.0    415230.0    541080.0    776204.0    1.434546
1960-07-01    366810.0    420184.0    545604.0    786994.0    1.442427
1960-10-01    376713.0    426176.0    540197.0    802889.0    1.486289
1961-01-01    376828.0    426841.0    545018.0    803669.0    1.474573
...                ...         ...         ...         ...         ...
2020-10-01  29921572.0  53108991.0  21477597.0  83030563.0    3.865915
2021-01-01  30317768.0  53804076.0  22038226.0  84121844.0    3.817088
2021-04-01  30756356.0  54574168.0  22740959.0  85330524.0    3.752283
2021-07-01  31414420.0  54912165.0  23202344.0  86326585.0    3.720598
2021-10-01  32120663.0  56187773.0  24002815.0  88308436.0    3.679087

[248 rows x 5 columns]