In [ ]:
# Debt Calculator Check

In [14]:
import os
import csv

import pandas as pd 
import numpy as np 
import datetime as dt 

import matplotlib.pyplot as plt

In [15]:
import debtToGDP as dtg
debtion = dtg.DEBT(dtg.measurements)

In [16]:
debtion.total_household_nonprofit_debt()

,ASHMA,ASMRMA,MVLOAS,SLOAS,REVOLSL,debt_sum
DATE,,,,,,
1960-01-01,132580.0,19199.0,16910.00,0.00,0.00,168689.00
1960-04-01,135366.0,19702.0,17847.00,0.00,0.00,172915.00
1960-07-01,138582.0,20293.0,18173.00,0.00,0.00,177048.00
1960-10-01,141378.0,20786.0,18083.00,0.00,0.00,180247.00
1961-01-01,143645.0,21424.0,17516.00,0.00,0.00,182585.00
...,...,...,...,...,...,...
2020-10-01,11652712.0,1754956.0,1224446.74,1702599.57,977822.32,17312536.63
2021-01-01,11783978.0,1784557.0,1240753.93,1728113.34,963269.55,17500671.82
2021-04-01,12022165.0,1810298.0,1275241.27,1730258.67,965332.85,17803295.79
2021-07-01,12271340.0,1837987.0,1300414.38,1750707.56,997972.15,18158421.09
2021-10-01,12531780.0,1881960.0,1314595.56,1747261.68,1017879.05,18493476.29

In [18]:
debtion.total_us_debt()

UnboundLocalError: local variable 'tot_debt' referenced before assignment