In [19]:
# Debt Calculator Check

In [20]:
import os
import csv

import pandas as pd 
import numpy as np 
import datetime as dt 

import matplotlib.pyplot as plt

In [21]:
import debtToGDP as dtg
debtion = dtg.DEBT(dtg.measurements)

In [22]:
debtion.total_household_nonprofit_debt()

,ASHMA,ASMRMA,MVLOAS,SLOAS,REVOLSL,debt_sum
DATE,,,,,,
1960-01-01,132580.0,19199.0,16910.00,0.00,0.00,168689.00
1960-04-01,135366.0,19702.0,17847.00,0.00,0.00,172915.00
1960-07-01,138582.0,20293.0,18173.00,0.00,0.00,177048.00
1960-10-01,141378.0,20786.0,18083.00,0.00,0.00,180247.00
1961-01-01,143645.0,21424.0,17516.00,0.00,0.00,182585.00
...,...,...,...,...,...,...
2020-10-01,11652712.0,1754956.0,1224446.74,1702599.57,977822.32,17312536.63
2021-01-01,11783978.0,1784557.0,1240753.93,1728113.34,963269.55,17500671.82
2021-04-01,12022165.0,1810298.0,1275241.27,1730258.67,965332.85,17803295.79
2021-07-01,12271340.0,1837987.0,1300414.38,1750707.56,997972.15,18158421.09
2021-10-01,12531780.0,1881960.0,1314595.56,1747261.68,1017879.05,18493476.29

In [23]:
debtion.total_us_debt()

                 ASTLL      ASTDSL  Total_Debt
DATE
1960-01-01    349880.0    413378.0    763258.0
1960-04-01    360974.0    415230.0    776204.0
1960-07-01    366810.0    420184.0    786994.0
1960-10-01    376713.0    426176.0    802889.0
1961-01-01    376828.0    426841.0    803669.0
...                ...         ...         ...
2020-10-01  29921572.0  53108991.0  83030563.0
2021-01-01  30317768.0  53804076.0  84121844.0
2021-04-01  30756356.0  54574168.0  85330524.0
2021-07-01  31414420.0  54912165.0  86326585.0
2021-10-01  32120663.0  56187773.0  88308436.0

[248 rows x 3 columns]

In [24]:
debtion.total_gov_debt()

            FGDSLAQ027S  SLGSDODNS    debt_sum
DATE
1960-01-01     246581.0    68172.0    314753.0
1960-04-01     244884.0    69588.0    314472.0
1960-07-01     246289.0    70980.0    317269.0
1960-10-01     248820.0    72211.0    321031.0
1961-01-01     246835.0    73606.0    320441.0
...                 ...        ...         ...
2020-10-01   23621060.0  3210373.0  26831433.0
2021-01-01   23962809.0  3237779.0  27200588.0
2021-04-01   24321359.0  3263527.0  27584886.0
2021-07-01   24269411.0  3278662.0  27548073.0
2021-10-01   25304484.0  3271343.0  28575827.0

[248 rows x 3 columns]

In [25]:
debtion.usDebt_to_gdp()

AttributeError: 'DEBT' object has no attribute 'usDebt_to_gdp'